.app-container{
  margin-top: 50px;
}

.app-container .chat-paper{
  background-color: #ffffff1a;
}

.page-title{
  color:  #ccc;
}

.message{
  color: #ccc;
}
.message p{
  color: #fff;
}

.app-container .input-box-paper{
  background-color: #ffffff1a;
}

.input-box-paper input {
  color: #fff;
}

.input-box-paper .MuiSvgIcon-root {
  color: #fff;
}